@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans&display=swap');
html,body{
  font-family:"Open Sans", sans-serif;
  padding:0;
  margin:0;
  background:#f28282;
  color:#ff3131
}
.infCraft{
background:white;
  width:200px;
  height:100px;
  text-align:center;
  border-radius:10px;
  transition:ease-in-out, 1s;
padding:20px;
  
}
.infCraft:hover{
color:black;
}
.header{
  background:url("https://jellofile.github.io/assets/background.png");
  padding:10px;
  color:#f28282;
  font-size:30px;
}
.body{
  text-align:center;
}

.gameLAGlink{
background:#2c2f33;
  color:white;
  font-family:"Montserrat", sans-serif;
  width:200px;
  height:100px;
  text-align:center;
  border-radius:10px;
  transition:ease-in-out, 1s;
padding:20px;

}
.gameLAGlink{
background:red;
  color:yellow;
  font-family:"Montserrat", sans-serif;
  width:200px;
  height:100px;
  text-align:center;
  border-radius:10px;
  transition:ease-in-out, 1s;
padding:20px;

}
.box{
background:url("https://jellofile.github.io/assets/background.png");
  width:200px;
  height:613.88px;
  text-align:center;
  border-radius:10px;
  transition:ease-in-out, 1s;
padding:20px;
  color:#f28282;
}
#passwordmeme{
background:white;
  font-family:sans-serif;
  color:black;
  font-weight:900
  
}
#mathcompass{
background:black;
  font-family:monospace;
  color:#149414;

  
}
#mathcompass:hover{
  color:red;
  cursor:pointer;
}
#passwordmeme:hover{
cursor:pointer;
  color:red
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

.gameLAGlink:hover{
  cursor:pointer;
  color:#f28282;
}
